$base-color: #90ce9c;

.vortex__header {
  background-color: $base-color;
  padding: 1rem;
  &-title {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    letter-spacing: -1px;
  }
}

.vortex__main {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  &-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  &-input {
    outline: solid 4px $base-color;
    padding: 0.5rem;
    border: none;
    margin-bottom: 1rem;
  }
  &-label {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.vortex__address {
  &-form {
    display: flex;
    flex-direction: column;
  }
}

.vortex__result {
  background-color: #f0f0f0;
  padding: 3rem;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  &-address {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.vortex__footer {
  background-color: $base-color;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}
